{{ template "base" . }}

{{ define "css" }}

<style>
    div:where(.swal2-container) .swal2-html-container {
        overflow: hidden !important;
    }
</style>

{{ end }}

{{ define "content" }}

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mx-auto d-block">
            <img src="/static/images/generals-quarters.png" alt="General's Quarters" class="img-fluid img-thumbnail">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h1 class="text-center mt-4">General's Quarters</h1>
            <p>
                Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember
                Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember
                Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember
                Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember
                Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember
                Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            <a  id="check-availability-button" href="#!" class="btn btn-success">Check Availability</a>
        </div>
    </div>

    
</div>

{{ end }}

{{ define "js" }}
<script>
    document.getElementById('check-availability-button').addEventListener('click', function() {
        const html = `
            <form id="check-availability-form" action="" method="post" novalidate class="needs-validation">
                <div class="row">
                    <div class="col">
                        <div id="reservation-dates-modal">
                            <div class="row">
                                <div class="col">
                                    <input disabled required type="text" class="form-control" name="start" id="start" placeholder="Arrival" />
                                </div>
                                <div class="col">
                                    <input disabled required type="text" class="form-control" name="end" id="end" placeholder="Departure" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        `; 

        // attention.toast({msg: 'hello, world!', icon: 'error'});
        // attention.success({msg: 'hello, world!'})
        // attention.error({msg: 'Oooops!'})
        attention.custom({
            title: 'Choose your dates', 
            msg: html,
            willOpen: () => {
                const elem = document.getElementById('reservation-dates-modal');
                const rp = new DateRangePicker(elem, {
                    format: 'yyyy-mm-dd',
                    buttonClass: 'btn',
                    showOnFocus: true,
                    orientation: 'top'
                    })
            },
            callback: function(result) {
                
                const form = document.getElementById('check-availability-form');
                const formData = new FormData(form);
                formData.append("csrf_token","{{.CSRFToken}}")

                fetch('/search-availability-json', {
                    method: 'post',
                    body: formData
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                    })
            },
            didOpen: () => {
                document.getElementById('start').removeAttribute('disabled');
                document.getElementById('end').removeAttribute('disabled');
          }
        })
    })
</script>
{{ end }}