{{ template "base" . }}

{{ define "content" }}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="mt-5">Search for Availability</h1>
            <form action="" method="post">
                <div class="mb-3">
                    <label for="start_date" class="form-label">Starting date</label>
                    <input type="date" class="form-control" id="start_date" name="start_date" aria-describedby="startDateHelp">
                    <div id="startDateHelp" class="form-text">Enter your starting date in the form of DD/MM/YYYY.</div>
                </div>

                <div class="mb-3">
                    <label for="end_date" class="form-label">Starting date</label>
                    <input type="date" class="form-control" id="end_date" name="end_date" aria-describedby="endDateHelp">
                    <div id="endDateHelp" class="form-text">Enter your ending date in the form of DD/MM/YYYY.</div>
                </div>


                <button type="submit" class="btn btn-primary">Submit</button>
                </form>
        </div>
    </div>
</div>
{{ end }}