{{ template "base" . }}

{{ define "css" }}

<style>
    div:where(.swal2-container) .swal2-html-container {
        overflow: hidden !important;
    }
</style>

{{ end }}

{{ define "content" }}
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1 class="mt-5">Search for Availability</h1>
            <form action="/search-availability" method="post" novalidate class="needs-validation">
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                <div id="reservation-dates">
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label for="start_date" class="form-label">Starting date</label>
                                <input required type="text" class="form-control" id="start" name="start"
                                    aria-describedby="startDateHelp" placeholder="Arrival date">
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label for="end_date" class="form-label">Starting date</label>
                                <input required type="type" class="form-control" id="end" name="end"
                                    aria-describedby="endDateHelp" placeholder="Departure">
                            </div>
                        </div>
                    </div>
                </div>
                
                <hr>
                <button id="search-availability-button" type="submit" class="btn btn-primary">Search Availability</button>
            </form>
        </div>
    </div>
</div>
{{ end }}

{{ define "js" }}
<script>
    const elem = document.getElementById('reservation-dates');
    const rangepicker = new DateRangePicker(elem, {
      format: 'yyyy-mm-dd',
      buttonClass: 'btn',
      showOnFocus: true,
      minDate: new Date()
    });

    document.getElementById('search-availability-button').addEventListener('click', function() {
        const html = `
            <form id="check-availability-form" action="" method="post" novalidate class="needs-validation">
                <div class="row">
                    <div class="col">
                        <div id="reservation-dates-modal">
                            <div class="row">
                                <div class="col">
                                    <input disabled required type="text" class="form-control" name="start" id="start" placeholder="Arrival" />
                                </div>
                                <div class="col">
                                    <input disabled required type="text" class="form-control" name="end" id="end" placeholder="Departure" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        `; 

        // attention.toast({msg: 'hello, world!', icon: 'error'});
        // attention.success({msg: 'hello, world!'})
        // attention.error({msg: 'Oooops!'})
        attention.custom({title: 'teste', msg: html})
    })
</script>
{{ end }}